


/* 编辑信息页面-靠左内容 */
.editLine .item{ align-items: flex-start; line-height: 48rpx;padding: 30rpx 2.66%;border-bottom: 1px solid #eee;}
.editLine .item .ll{width: 25%; }
.editLine .item .rr{width: 75%;}
.editLine .L-input{width: 85%;}
.editLine .item input{width: 100%; line-height: 48rpx;height: 48rpx;display: block;box-sizing: border-box;font-size: 26rpx; color: #666;}
.editLine .item textarea{width: 100%;height:200rpx; padding: 20rpx;line-height: 44rpx; box-sizing: border-box;border: 1px solid #eee; font-size: 26rpx;display: block;}


/* 信息RowBetween 右侧输入内容 */
.myRowBetween .item{padding: 30rpx 0;border-bottom: 1px solid #eee;}
.myRowBetween .item .ll{width: 60%;}
.myRowBetween .item .ll .photo{width: 80rpx; height: 80rpx;border-radius: 50%;display: block;overflow: hidden;margin-right: 20rpx;}
.myRowBetween .item .ll .photo image{width: 100%; height: 100%; display: block;}

.myRowBetween .item .rr{width: 40%;text-align: right;font-size: 30rpx; display: flex; justify-content: flex-end;align-items: center;font-size: 26rpx;}
.myRowBetween .item input{width: 100%; line-height: 48rpx;display: block;box-sizing: border-box;font-size: 26rpx; color: #666;text-align: right;}
.myRowBetween .item textarea{width: 100%;height:200rpx; padding: 20rpx;line-height: 44rpx; box-sizing: border-box;border: 1px solid #eee; font-size: 26rpx;display: block;}



/* 订单  底部固定内容*/
.underFix{ width: 100%; padding:20rpx 4%;box-sizing: border-box; box-shadow: 0 -4rpx 6rpx rgba(0,0,0,0.1); position: fixed; bottom: 0; left: 0;background: #fff;}
.underFix .btn{ width: 200rpx; height: 80rpx; text-align: center; line-height: 80rpx; color:#fff; background: #0094DC; border-radius: 50rpx;}

