

/* .proRow .item{padding: 20rpx 4% 30rpx 4%;background: #fff;margin-bottom:30rpx ;border-radius: 10rpx;overflow: hidden;}

.proRow .item .pic{width: 160rpx; height: 160rpx;}
.proRow .item .pic image{width: 100%;height: 100%; display: block;}
.proRow .item .infor{ width: 72%;height: 160rpx;position: relative;}
.proRow .item .B-price{position: absolute;left: 0;right: 0;bottom:0rpx;} */

.underBtn .Bbtn{display: block;width: 140rpx;line-height: 50rpx; border:1px solid #eee; text-align: center; margin-left: 30rpx; border-radius: 10rpx; font-size: 24rpx;box-sizing: border-box;}


/* 删除弹框 */
.alertShow{ width: 80%;position: fixed; top: 50%;left: 50%;transform: translate(-50%,-50%); z-index: 50;box-sizing: border-box;}
.tip-button .item{width: 50%;box-sizing: border-box; line-height: 100rpx;}
.tip-button .item:first-child{border-right:1px solid #eee;}



